/* for tabs */
@media (max-width:1280px){
    
    .real-estate{
        height:13500px
    }
    .header-image{
      top: 6%;
        left: 0;
        background-repeat: no-repeat;
    }

    .potential-sub{
        flex-direction: column-reverse;
        transform: scale(.8);
    }
    .directing-the-arrow-upcuate{
        width: 100%;
        height: 400px;
    }

    .services-section{
        top: calc(50% - 4300px);
    }
    .frame-container {
        margin-top: 140px;
        width: 100%;
        height: inherit;
        gap: var(--gap-13xl);
        text-align: center;
    }

    .unlock-the-potential-of-digita-parent{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .frame-parent {
        top: calc(50% - 6500px);
        width: 100%;
        transform: scale(.8);
    }
    .teacher{
      top:4850px;
      transform: scale(.7);
    }

    .frame-child9{display: none;}
    .background-simple-parent{
    flex-direction: column-reverse;
    }


    .background-simple-parent{
        text-align: center;
        top: calc(50% - 1300px);
        transform: scale(.7);
        width: 175%;
        gap: 20px;
    }

    .driving-property-inquiries-to-group{
        gap: 0;
    }
    .frame-section{
        top: calc(50% - 700px);
        transform: scale(.7);
        justify-content: center;
    }
    .frame-parent11{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
    .frame-parent5{
        top:59%;
        transform: scale(0.7);
        width: 200%;
    }
    .frame-parent8{
        top: calc(50% + 2576px);
        transform: scale(.9);
        width: 80%;
        gap: 60px;
    }
    .frame-parent12{
        height: 350vh;
        top: 9610px;
        transform: scale(.8);
    }

    .what-our-pharma-partners-say-parent {
        top: 0;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .testimonial-card{
        top: 3%;
    }
    .frame-parent14{
        top: 1200px;
    }
    .form-section {
        top:11600px;
        height:1200px
    }
    .faq{
        padding: 0
    }

    .frame-footer{
        top:12750px
    }
    .osumare-all-rights {
        width: 100%;
        text-align: center;
    }
    .m-buttons {
        margin-top: 80px;
    }
    .what-our-pharma-partners-say-parent{
        transform: scale(.8);
        top: -20px;
    }
  }




/* for mobiles */
  @media (max-width:500px) {

    .frame-parent{
        transform: scale(.7);
        width: 145%;
    }

    .nav{
        justify-content: space-between;
        padding: 0;
        flex-direction: column;
        /* height: 10%; */
    }
    .osumare-logo-01-2-4{
        transform: scale(.7);
    }
    .real-estate-focused-digital {
        width: 80%;
    }

    .our-expertise-in-action-parent{
        gap: 0;
    }

    .teacher{
        top: 4840px;
        transform: scale(.6);
        width: 150%;
    }
    .navigating-real-estates-digit-parent{
        transform: scale(.9);
    }
    .frame-section{
        top: calc(50% - 500px);
        width: 175%;
    }

    .directing-the-arrow-upcuate {
        margin-top: -3%;
    }

    .our-service-offerings-parent {
        transform: scale(.9);
    }

    .driving-property-inquiries-to-group {
        gap: 0;
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .div1,.how-does-osumare-measure-campa-parent{
        gap: 0;
    }
    .osumares-expertise-in{
        width: 100%;
    }

    .icon-group, .icon-parent{
        width: 80%;
        transform: scale(.9);
    }

    .frame-parent8{
        width: 100%;
        transform: scale(.8);
    }

    .m-buttons {
        margin-top: 100px;
    }
    .what-our-pharma-partners-say-parent {
        transform: scale(.6);
  }
  .services-section {
    transform: scale(.9);
  }
  .form{
    transform: scale(.9);
  } 
}

 
 
 
 
 
 
 
 
  @media (min-width:621px) and (max-width:1280px){
    .frame-child9{display: block;}
    .teacher{
        top:3800px;
      }
  }